.toolbar{
  //position: fixed;
  //margin: 0;
  //padding: 0;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  width: 100%;
}

.toolbar .menu{
  display: none;
}

@media (max-width: 576px) {
  .toolbar .navigationItems{
    display: none;
  }
  .toolbar .menu{
    display: flex;
  }

}

